@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Public Sans", sans-serif; 
}

.bg-img {
    background-image: url(../images/bg-home1-01.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
}

@media (max-width: 575.98px) {
   
    .carousel-item {
        height: 60vh;

    }
    .carousel-item img {
        height: 60vh;
    }
}

.btn-successs {
    background-color: #00A250;
}
.second-image {
    display: none;
}
.image-container:hover .second-image {
    display: block;
}
.image-container:hover .main-image {
    display: none;
}
.card-hover {
    border: none;
}

.image-container:hover .icon-overlay {
    display: block;
}

